.layout__logo .logo__menu {
  display: none;
}

.page {
  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;
  background-color: var(--gray-01);
}

.page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-bottom: 4px;
}

.page__body {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
}

.body__img {
  position: relative;
  width: 200px; 
  height: 200px;
  margin-bottom: 20px;
  background-color: var(--color-black);
  border-radius: 50%;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
}


#foreground {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 20%;
  height: 20%;
  z-index: 2;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.user__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding-top: 20px;
  width: 100%;
}

.user__info label {
  text-align: left;
}

.user__info li {
  display: flex;
  align-items: center;
  gap: 24px;
}

.user__info li select {
  width: 327px;
}

.user__info span {
  box-sizing: border-box;
  display: flex;
  width: 190px;
  padding: 16px;
  align-items: center;
  font-size: 16px;
}

.page__footer img {
  width: 24px;
  height: 24px;
}

.page__footer .toast-message {
  background-color: rgba(64, 184, 131, 0.20);
  color: var(--color-pri-dark);
  border-radius: 4px;
  display: flex;
  width: 320px;
  padding: 6px 16px;
  align-items: flex-start;
  position: absolute;
  right: 24px;
  bottom: 24px;
  box-sizing: border-box;
}

.toast-message img {
  padding: 6px 0;
}

.toast-message .text {
  display: flex;
  padding: 8px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  margin-left: 5px;
}