.page {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;
  background-color: var(--gray-01);
}

.page__event {
  display: flex;
  flex-direction: row;
  gap: 4px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 8px;
}

.event__birthday h3 {
  margin-right: 15px;
}
.page__event,
.page__header {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex: 1 0 0;
}
.page__event img {
  width: 18px;
  height: 18px;
}

.page__header {
  padding: 16px 0;
  justify-content: space-between;
}

.total {
  color: var(--gray-07);
  font-size: var(h5);
}

.table-container {
  overflow-y: auto;
  width: 100%;
  display: flex;
}

table {
  width: 100%;
}

thead {
  position: sticky;
  top: 0;
  background-color: var(--gray-01);
}

tr {
  font-size: 14px;
}

th {
  font-size: var(h5);
  height: 10px;
}

tbody {
  text-align: center;
  font-size: var(h5);
}

tbody td {
  vertical-align: middle;
  padding: 8px 0;
  font-size: 14px;
  border-bottom: 1px solid var(--gray-05);
}

/* 모바일 */
@media screen and (max-width: 599px) {
  .page {
    width: 90%;
  }

  .page__title {
    padding: 5px;
  }

  .page__event h3 {
    font-size: 16px;
  }

  .page__header input {
    width: 200px;
  }

  thead {
    display: none;
  }

  /* 첫 번째 td (이미지)는 가로로 유지 */
  tbody td:first-child {
    flex-direction: row;
    justify-content: center;
    width: auto;
  }

  /* 나머지 td 요소는 세로로 배치 */
  tbody td:not(:first-child) {
    display: block;
    text-align: left;
  }

  /* th 내용을 td 요소에 ::before로 붙이기 */
  tbody td::before {
    content: attr(data-label);
    flex: 1 1 auto;
    font-weight: bold;
    margin-right: 8px;
  }
}
