<div class="modal modalHidden">
    <div class="modal__background"></div>
    <div class="modal__content">
        <div class="modal__header"><h4>title</h4> 
            <img
              src="/public/icons/close.svg"
              alt="close-icon"
              width="24"
              height="24"
            />
          </div>
        <div>
            contents 작성
        </div>
    </div>
    </div>
  </div>

<!-- 모달 사용하기
1. html파일에 modal 기본 형태가져온 후 contents 작성
2. body 하단에 modal.js 불러오가
<script src="../../../component/modal/modal.js"></script>
3. modal을 오픈한 버튼에 class="modalOpenBtn" 넣기
<button class="modalOpenBtn" data-color="warning" data-shape='line'>삭제 테스트</button> -->
