/* modal style */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modal::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal__content {
    width: 444px;
    background-color: var(--color-white);
    border-radius: 3px;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.modal__header {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal__header>img:hover {
    transition: 0.2s;
    cursor: pointer;
    filter: invert(69%) sepia(12%) saturate(193%) hue-rotate(193deg) brightness(92%) contrast(89%);
}

.modal__content>form {
    padding: 0 16px 16px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modal__form h5 {
    color: var(--gray-08);
}

.modal__form select {
    width: 100%;
    height: 42px;    
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="none" stroke="black" stroke-width="2" d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.modal__form input {
    color: var(--color-black);
    box-sizing: border-box;
    width: 412px;
    height: 42px;    
}

.modal__button {
    padding: 8px 22px;
    margin-top: 12px;
}

.modalHidden {
    display: none;
}